body {
    background-color: white;
}

.container {
    display: block;
    width: 940px;
    margin: 0px auto;
    background-color: #FFCC99;
    height: 1024px;
}

.testing {
    height: 800px;
    width: 1024px;
    display:none;
}

.coals {
    display:block;
}

.mask {
    position: fixed;
    z-index: 1000;
    background-color: #000;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    /*opacity: 0.35;*/
}

.window {
    position: fixed;
    display: block;
    z-index: 1100;
    padding: 10px;
    background-color: #FFFFFF;
    border: 5px solid rgb(111, 106, 106);
    border-radius: 5px;
}
    .window h2 {
        margin: 10px 0px;
        text-align: center;
        width: 100%;
        background-color: darkgray;
    }
